In [2]:
import pandas as pd
import datetime
import holidays

In [3]:
current_year = datetime.datetime.now().year
country = "IT"
subdiv = "BO"

current_year

2023

In [4]:
year_holidays = holidays.country_holidays(country, years=current_year, subdiv=subdiv)

In [5]:
dates = pd.date_range(start="2020-01-01", end="2020-12-31", freq="D")
dates_df = dates.to_frame(index=True, name="DATE")
dates_df["WEEKEND"] = dates_df["DATE"].dt.dayofweek.isin([5, 6])
dates_df["HOLIDAY"] = (
    dates_df["DATE"]
    .apply(
        lambda day: year_holidays[day] if day in year_holidays else pd.NA,
    )
    .astype("category")
)
dates_df["VACATION"] = 0
dates_df["VACATION"] = dates_df["VACATION"].astype("int32")
dates_df["ROI"] = 0
dates_df["ROI"] = dates_df["ROI"].astype("int32")
dates_df

                 DATE  WEEKEND    HOLIDAY  VACATION  ROI
2020-01-01 2020-01-01    False  Capodanno         0    0
2020-01-02 2020-01-02    False        NaN         0    0
2020-01-03 2020-01-03    False        NaN         0    0
2020-01-04 2020-01-04     True        NaN         0    0
2020-01-05 2020-01-05     True        NaN         0    0
...               ...      ...        ...       ...  ...
2020-12-27 2020-12-27     True        NaN         0    0
2020-12-28 2020-12-28    False        NaN         0    0
2020-12-29 2020-12-29    False        NaN         0    0
2020-12-30 2020-12-30    False        NaN         0    0
2020-12-31 2020-12-31    False        NaN         0    0

[366 rows x 5 columns]

In [6]:
dates_df.dtypes

DATE        datetime64[ns]
WEEKEND               bool
HOLIDAY           category
VACATION             int32
ROI                  int32
dtype: object